:root {
  --main-text-color: #757575;
  --header-color: #212121;
  --title-color: #212121;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --portfolio-title-color: #212121;
  --logo-primary-color: #000000;
  --logo-accent-color: #2196f3;
  --bgc-button-filtr: #f5f4fa;
  --tipical-padding: 94px;
}

body {
  font-family: Roboto, Tahoma, sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--logo-accent-color);
}

.link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* HEADER */

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.header-logo-part {
  color: var(--logo-primary-color);
}

.header-link {
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-contact-link {
  color: var(--main-text-color);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

/* HERO */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: #2f303a;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  text-align: center;

  color: #ffffff;
  background-color: var(--accent-color);
}

/* BENEFITS */

.benefits {
  padding-top: var(--tipical-padding);
  padding-bottom: var(--tipical-padding);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-item-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
}

.benefits-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

/* WORK */

.work {
  padding-top: 0;
  padding-bottom: var(--tipical-padding);
}

.work-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

/* TEAM */

.team {
  padding-top: var(--tipical-padding);
  padding-bottom: var(--tipical-padding);
}

.team-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.team-size {
  padding: 30px 80px;
}

.team-item-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* FOOTER */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo-part {
  /* margin-bottom: 20px; */

  color: #ffffff;
}

.footer-address-link {
  margin-bottom: 9px;

  color: #ffffff;
}

.footer-contact-link {
  margin-bottom: 9px;

  color: rgba(255, 255, 255, 0.6);
}

/* -----------PORTFOLIO------------ */

/* FILTR */

.examples {
  padding-top: var(--tipical-padding);
  padding-bottom: var(--tipical-padding);
}

.filtr-list {
  margin-bottom: 50px;
}

.filtr-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--portfolio-title-color);
  background-color: var(--bgc-button-filtr);
}

.filtr-btn:hover,
.filtr-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.current-filtr {
  color: #ffffff;
  background-color: var(--accent-color);
}

.examples-size {
  padding: 20px 24px;
}

.examples-item-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color);
}

.examples-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
